In [2]:
import pandas as pd

In [4]:
path = "Resources/budget_data.csv"
budget_data = pd.read_csv(path)
budget_data.head()

     Date  Profit/Losses
0  Jan-10        1088983
1  Feb-10        -354534
2  Mar-10         276622
3  Apr-10        -728133
4  May-10         852993

In [6]:
total_months = budget_data["Date"].nunique()
total_months

86

In [8]:
net_total = budget_data["Profit/Losses"].sum()
net_total

22564198

In [10]:
budget_data['Change'] = budget_data['Profit/Losses'].diff()
budget_data["Change"].head()

0          NaN
1   -1443517.0
2     631156.0
3   -1004755.0
4    1581126.0
Name: Change, dtype: float64

In [12]:
average_change = budget_data["Change"].mean()
average_change

-8311.105882352942

In [14]:
greatest_increase = budget_data["Change"].max()
greatest_increase

1862002.0

In [16]:
greatest_increase_date = budget_data.loc[budget_data['Change'] == greatest_increase, 'Date'].values[0]
greatest_increase_date

'Aug-16'

In [18]:
greatest_decrease = budget_data['Change'].min()
greatest_decrease

-1825558.0

In [20]:
greatest_decrease_date = budget_data.loc[budget_data['Change'] == greatest_decrease, 'Date'].values[0]
greatest_decrease_date

'Feb-14'

In [22]:
print("Financial Analysis")
print("-------------------------------------")
print(f"Total Months: {total_months}")
print(f"Total: ${net_total}")
print(f"Average Change: ${average_change:.2f}")
print(f"Greatest Increase in Profits: {greatest_increase_date} (${greatest_increase:.0f})")
print(f"Greatest Decrease in Profits: {greatest_decrease_date} (${greatest_decrease:.0f})")

Financial Analysis
-------------------------------------
Total Months: 86
Total: $22564198
Average Change: $-8311.11
Greatest Increase in Profits: Aug-16 ($1862002)
Greatest Decrease in Profits: Feb-14 ($-1825558)

In [26]:
output = "bank.text"
with open(path, "w") as file:
    file.write(output)
output

'bank.text'